/* Choosing a google font for body content*/
body {
    font-family: 'Montserrat', sans-serif;
    background-color: antiquewhite;
    padding-bottom: 70px;
}


header {
    margin-bottom: 25px;
    background-color: #c07c7c;
}

.navbar-brand {
    margin-left: 10px;
    font-weight: bold;
}

/* Replacing a icon for collapse purpose */
.navbar-toggler {
    background-color: rgb(247, 158, 158);
}

/* Change fonts and colors for buttons */
.nav-item {
    margin-right: 25px;
    background-color: rgb(245, 179, 189);
    font-weight: bold;
    border-radius: 15px;
}

h1 {
    font-weight: bold;
    text-align: center;
    padding-bottom: 5px;
}

img {
    display: block; 
    margin: 0 auto 20px auto;
    max-width: 100%;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;;
    background-color: #c07c7c;
    color: #000000;
    text-align: center;
    padding: 5px;
}
